@{
    ViewData["Title"] = "Shop online today.";
}

    <div class="home slide active"
         style="background: url(https://cdn.accentuate.io/280215748785/1634887953853/Glasses-frames-at-1001-optical-2700x506.jpg?v=0) no-repeat; min-height: 60vh; background-size: cover; background-position: center;">
        <div class="content">
            <span>Protect your eyes</span>
            <h3>Up to 50% off</h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>


<div class="text-center">
    <h1 class="display-4">Hint Eyewear</h1>
    <!-- This is a comment -->
</div>
